.App {
  text-align: start;
  margin-left: 2%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  display: flex;
  align-items: flex-start;
  font-size: 2em;
  font-weight: bold;
}

.IdCard {
  display:flex;
  margin-left: 5px;
  padding: 1%;
}

.box {
  border: solid 1px black;
  padding: 5px;
  margin: 10px 0;
}

.info {
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.color-box{
  border: solid 1px black;
  padding: 5px;
  margin: 10px 0;
  height: 15vh;
}